:root {
    --primary: #F2E39B;
    --primary2: #FFFFCC;
    --text: #4b4b4b;
}

@keyframes blob-animate-down {
    from { top:-50px }
    to { top:0px }
}

@keyframes blob-animate-right {
    from { left:-50px }
    to { left:0px }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   20% { transform: rotate(14.0deg) }
   40% { transform: rotate(-8.0deg) }
   70% { transform: rotate(14.0deg) }
  100% { transform: rotate( 0.0deg) }
}

#wave-emoji {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: wave-animation;
    display: inline-block;
    transform-origin: 70% 70%;
}

#hero {
    display: flex;
    padding: 16px;
    margin-top: 80px;
    justify-content: center;
}

#headline {
    display: flex;
    align-items: center;
}

#profile-pic-container {
    margin-left: 199px;
}

#content-description {
    line-height: 30px;
    margin: 64 auto;
    max-width: 935px;
}

#blob-top-right {
    position:absolute;
    top:0px;
    right:0px;
    animation-name: blob-animate-down;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.17,.67,.85,1.34);
}

#blob-bottom-left {
    position:absolute;
    bottom:0;
    left:0;
    animation-name: blob-animate-right;
    animation-duration: .5s;
}

#navigation {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content:center;
    margin-top: 60px;
    margin-left: 724px;
}

.navigation-item {
    margin: 0px 16px;
    padding: 10px;
}

#footer {
    justify-content: center;
    flex: display;
    display: flex;
}

.footer-item {
    margin: 0px 30px;
}

.emphasis {
    background-color: var(--primary);
    padding: 4px 10px;
    border-radius: 10px;
}

.background-image {
    z-index: -1;
}

.button {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

body {
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-size: 90px;
    font-weight: 300;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}

a {
    color: var(--text);
    opacity: .75;
    text-decoration: none;
    text-shadow: 0px 2px 5px #0003;
    text-transform: uppercase;
}

a:hover {
    opacity: 1.0;
    text-shadow: 0px 2px 5px #0005;
}
