:root {
    --primary: #F2E39B;
    --primary2: #FFFFCC;
    --text: #4b4b4b;
}

@keyframes blob-animate-down {
    from { top:-50px }
    to { top:0px }
}

@keyframes blob-animate-right {
    from { left:-50px }
    to { left:0px }
}

#hero {
    display: flex;
    padding: 16px;
    margin-top: 211px;
    justify-content: center;
}

#headline {
    display: flex;
    align-items: center;
}

#profile-pic-container {
    margin-left: 199px;
}

#blob-top-right {
    position:absolute;
    top:0px;
    right:0px;
    animation-name: blob-animate-down;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.17,.67,.85,1.34);
}

#blob-bottom-left {
    position:absolute;
    bottom:0;
    left:0;
    animation-name: blob-animate-right;
    animation-duration: .5s;
}

.emphasis {
    background-color: var(--primary);
    padding: 4px 10px;
    border-radius: 10px;
}

.background-image {
    z-index: -1;
}

body {
    color: var(--text);
}

h1 {
    font-size: 90px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
