:root {
    --primary: #F2E39B;
    --primary2: #FFFFCC;
    --text: #4b4b4b;
    --text2: #ffffff;
    --background: #FDFDFD;
    --neutral-dark: #353535;
    font-size: 20px;
}

html {
    background-color: var(--background);
}

@keyframes blob-animate-down {
    from { top:-50px }
    to { top:0px }
}

@keyframes blob-animate-right {
    from { left:-50px }
    to { left:0px }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   20% { transform: rotate(14.0deg) }
   40% { transform: rotate(-8.0deg) }
   70% { transform: rotate(14.0deg) }
  100% { transform: rotate( 0.0deg) }
}

#wave-emoji {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: wave-animation;
    display: inline-block;
    transform-origin: 70% 70%;
}

#hero {
    display: flex;
    padding: 16px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 80%;
}

#headline {
    display: flex;
    align-items: center;
    margin: 0px 60px;
}

#profile-pic-container {
    /*margin-left: 199px;*/
}

#content-description {
    line-height: 30px;
    margin: 64 auto;
    max-width: 55%;
}

#blob-top-right {
    position:fixed;
    top:0;
    right:0;
    animation-name: blob-animate-down;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(.17,.67,.85,1.34);
}

#blob-bottom-left {
    position:fixed;
    bottom:0;
    left:0;
    animation-name: blob-animate-right;
    animation-duration: .5s;
}

#navigation {
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: flex-end;
    margin-top: 60px;
    margin-left: 724px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navigation-item {
    margin: 0px 16px;
    padding: 10px;
}

#footer {
    justify-content: center;
    flex: display;
    display: flex;
}

.footer-item {
    margin: 0px 30px;
}

.emphasis {
    border-radius: 10px;
    background-image: linear-gradient(transparent 0%, transparent 50%, #F2E39B88 50%, #F2E39B88 90%, transparent 90%, transparent);
    display: inline;
    border-radius: 10px;
}

.emphasis:after {
  content: '';
  display: block;
}

.background-image {
    z-index: -1;
}

.button {
    font-size: .75em;
    letter-spacing: 2px;
    font-weight: 500;
}

body {
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

h1 {
    font-size: 4.5em;
    font-weight: 300;
}

h2 {
    font-size: 3em;
    font-weight: 300;
}

a {
    color: var(--text);
    opacity: .75;
    text-decoration: none;
    text-shadow: 0px 2px 5px #0003;
    text-transform: uppercase;
}

a:hover {
    opacity: 1.0;
    text-shadow: 0px 2px 5px #0005;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--neutral-dark);
    }
    body {
        color: var(--text2);
    }
    a {
        color: var(--text2);
    }
    .emphasis {
        background-image: linear-gradient(transparent 0%, transparent 50%, #BEB16C88 50%, #BEB16C88 90%, transparent 90%, transparent);
    }
}
