// Customize the colors of Octoflat Here

$primary-color:      #962224; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #D5484A; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #C0392B; // Hover-over color, Active Page color
$accent-color1:      #9A8484; // Hover-over background color for tags
$accent-color2:      #a8a8a8; // Sub-headings, Date Stamp
$accent-color3:      #cccccc; // Navbar Text, Tag text
$bg-color:           #f7f7f7; // Background
$navbar-color:       #333333; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #333333; // Body Text
$footer-color:       #7F8C8D; // Footer
